@tailwind base;
@tailwind components;
@tailwind utilities;
.nav-bg {
  background: rgba(255, 255, 255, 0.31);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.7px);
  -webkit-backdrop-filter: blur(7.7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  
}

.banner-bg {
  background-image: url("../assets/banner-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
